<%= form_for [@election, @race], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :position, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :position, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                election_path(@election), :class => 'btn' %>
  </div>
<% end %>
