<p id="notice"><%= notice %></p>

<p>
  <b>Election:</b>
  <%= @election.name %>
</p>
<p>
  <b>Position:</b>
  <%= @race.position %>
</p>


<%= link_to 'Edit', edit_election_race_path(@election, @race) %> |
<%= link_to 'Back', election_path(@election) %>
