<%= form_for :race, :url => cast_vote_election_race_path(@election, @race), :html => { :class => 'form-horizontal' } do |f| %>
  <% if @race.errors.any? %>
    <div class="alert">
      <h3><%= pluralize(@race.errors.count, "error") %> prohibited this vote from being cast:</h3>

        <ul>
          <% @race.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>
  <% (1..3).each do |i| %>
    <%= f.fields_for 'votes_attributes[]', Vote.new do |vote| %>
      <%= vote.hidden_field :rank, :value => i %>
      <div class="control-group">
        <%= vote.label :candidate_id, "#{i.ordinalize} Choice Candidate", :class => 'control-label' %>
        <div class="controls">
          <%= vote.select :candidate_id, [['', '']] + @race.candidates.order(:name).map{|candidate| [candidate.name, candidate.id]} %>
        </div>
      </div>
    <% end -%>
  <% end %>

  <div class="form-actions">
    <%= f.submit 'Cast Vote', :class => 'btn btn-primary',
                              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %>
  </div>
<% end %>
