<h1>Listing elections</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Races</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @elections.each do |election| %>
  <tr>
    <td><%= election.name %></td>
    <td>
      <% election.races.each do |race| %>
        <%= link_to race.position, election_race_path(election, race) %><br/>
      <% end -%>
      <%= link_to 'Add Race', new_election_race_path(election) %>
    </td>
    <td><%= link_to 'Show', election %></td>
    <td><%= link_to 'Edit', edit_election_path(election) %></td>
    <td><%= link_to 'Destroy', election, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Election', new_election_path %>
