<%- model_class = Election -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <tbody>
    <% @elections.sort_by(&:name).each do |election| %>
      <tr>
        <td>
          <%= link_to_if can?(:edit, election), election.name, election_path(election) %>
        </td>
        <td>
          <% election.races.each do |race| %>
            <%= link_to_if can?(:edit, election), race.position, election_race_path(election, race) %><br/>
          <% end -%>
          <%= link_to 'Add Race', new_election_race_path(election) if can?(:edit, election) %>
        </td>
        <td>
          <%= link_to 'VOTE',
                      vote_election_path(election), :class => 'btn btn-primary' %>
          <%= link_to 'Results',
                      results_election_path(election), :class => 'btn btn-success' %>
          <% if can? :edit, Election %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_election_path(election), :class => 'btn btn-mini' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        election_path(election),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :create, Election %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_election_path,
              :class => 'btn btn-primary' %>
<% end %>
