<%- model_class = Election -%>
<div class="page-header">
  <h1><%= @election.name %></h1>
</div>

<dl class="dl-horizontal">
  <% @election.races.each do |race| %>
    <dt><strong>Race:</strong></dt>
    <dd><%= link_to race.position, election_race_path(@election, race) %></dd>
  <% end -%>
  
  <dt/><dd><%= link_to 'Add Race', new_election_race_path(@election) %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              elections_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_election_path(@election), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              election_path(@election),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
